apiVersion: v1
kind: LimitRange
metadata:
  name: tenant-limits
  namespace: intel-rh-partner-{{ tenant_slug }}
  labels:
    tenant: "{{ tenant_slug }}"
spec:
  limits:
    - type: Container
      default:
        cpu: "500m"
        memory: "1Gi"
      defaultRequest:
        cpu: "100m"
        memory: "256Mi"
      max:
        cpu: "4"
        memory: "16Gi"
